<div>
    <h1>Carrito de Compras de Productos</h1>
    {{#each carts}}
    <h4>Carrito {{@index}}</h4>
    <ul class="list-group">
        {{#each this.products}}
            <li class="list-group-item">
                <p>ID Producto: {{this._id._id}}</p>
                <p>Producto: {{this._id.description}}</p>
                <p>Cantidad seleccionada: {{this.stock}}</p>
            </li>
        {{/each}}
    </ul>
    {{/each}}
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>
    const serverAddress = 'ws://localhost:8080';
    const socketClient = io(serverAddress);
</script>
